html,*{
    padding:0;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
:root{
   --kingColor:#000;
    --queenColor:#cccc;
    --pawnColor:#ffff;
    
}
@font-face {
    font-family:'Sora-VariableFont_wght';
    src: url('Sora-VariableFont_wght.ttf');
}
nav{
    background: var(--queenColor);
    width: 10vh;
}
nav ul, li,  a{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
}
body{
    display: flex;
    font-family:'Sora-VariableFont_wght';
    height: 100vh;
    overflow-y: hidden;
    overscroll-behavior-y:none ;
}

.panoramic-canvas{
    width:100vw;
    padding: 5vw;
    display: flex;
    gap: 5vw;
}
.panoramic-canvas > img{
    width: 15vw;
    height: auto;
}
.card{
    display: flex;
    flex-direction: column;
    height: 50%;
}

footer{
    display: flex;
    width: 10vh;
}