html,*{
    padding:0;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
:root{
   --kingColor:#200211;
    --queenColor:#FAE4E2;
    --pawnColor:#A80E00;
    
}
@font-face {
    font-family:'Sora-VariableFont_wght';
    src: url('Sora-VariableFont_wght.ttf');
}
nav {
    background: var(--pawnColor);
    width: 120px;
    position:fixed;
}
nav ul, li,  a{
    text-decoration: none;
    color:white ;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav > a{
    margin: 1em;
}
body{
    display: flex;
    font-family:'Sora-VariableFont_wght';
    height: 100vh;
    overflow-y: hidden;
    overscroll-behavior-y:none ;
}

.panoramic-canvas{
    width:100vw;
    margin-left: 10vw;
    display: flex;
    gap: 5vw;
}
.panoramic-canvas > img{
    width: 15vw;
    height: auto;
}
.card{
    display: flex;
    flex-direction: column;
    height: 50%;
}

footer{
    display: flex;
    width: 10vh;
}
