*{
    padding:0;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Sora-VariableFont_wght';
    src: url('Sora-VariableFont_wght.ttf');
}
body{
    display: flex;
    font-family:'Sora-VariableFont_wght';
}